<a href="https://colab.research.google.com/github/Vinicius-Ikehara/2-Classificacao-por-tras-dos-panos/blob/main/Aula_3_Classifica_Buscas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from google.colab import files
import io

In [ ]:
import pandas as pd

path = "/content/drive/MyDrive/Formação Machine Learning/2 - Classificação Por Trás Dos Panos"

#Lendo o CSV 
df = pd.read_csv(path + '/buscas.csv' )

#Mostrando os 5 primeiros valores
df.head(10)

   home       busca  logado  comprou
0     0  algoritmos       1        1
1     0        java       0        1
2     1  algoritmos       0        1
3     1        ruby       1        0
4     1        ruby       0        1
5     0        ruby       1        0
6     0  algoritmos       1        1
7     0        ruby       0        1
8     1  algoritmos       1        1
9     1        ruby       1        1

In [ ]:
X_df = df[['home', 'busca', 'logado']]
Y_df = df['comprou']

In [ ]:
Xdummies_df = pd.get_dummies(X_df).astype(int)
Ydummies_df = Y_df

Xdummies_df.head(5)

   home  logado  busca_algoritmos  busca_java  busca_ruby
0     0       1                 1           0           0
1     0       0                 0           1           0
2     1       0                 1           0           0
3     1       1                 0           0           1
4     1       0                 0           0           1

In [ ]:
X = Xdummies_df.values
Y = Ydummies_df.values

In [ ]:
porcentagem_treino = 0.9

tamanho_de_treino = int(porcentagem_treino * len(Y))
tamanho_de_teste = len(Y) - tamanho_de_treino

treino_dados = X[:tamanho_de_treino]
treino_marcacoes = Y[:tamanho_de_treino]

teste_dados = X[-tamanho_de_teste:]
teste_marcacoes = Y[-tamanho_de_teste:]

In [ ]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)

diferencas = resultado - teste_marcacoes

acertos = [d for d in diferencas if d == 0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste_dados)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print(taxa_de_acerto)
print(total_de_elementos)

82.0
100